entrypoint = "main.py"
modules = ["python-3.10:v18-20230807-322e88b"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && python3 main.py"]
deploymentTarget = "cloudrun"

[languages]

[languages.python3]
pattern = "**/*.py"

[languages.python3.languageServer]
start = "pylsp"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "requirements.txt"]

[interpreter]
command = ["python3"]

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[commands]
install_requirements = "pip install -r requirements.txt"
run = "python3 main.py"
